---
import HtmlIcon from "../icons/Html.astro"
import CssIcon from "../icons/Css.astro"
import TailwindIcon from "../icons/Tailwind.astro"
import LaravelIcon from "../icons/Laravel.astro"
import AngularIcon from "../icons/Angular.astro"
import NodeIcon from "../icons/Node.astro"
import ExpressIcon from "../icons/Express.astro"
import MysqlIcon from "../icons/Mysql.astro"
import PostgresIcon from "../icons/Postgres.astro"
import NestIcon from "../icons/Nest.astro"
import DotNetIcon from "../icons/Dotnet.astro"
import PhpIcon from "../icons/Php.astro"
import JavaScriptIcon from "../icons/JavaScript.astro"
import TypeScriptIcon from "../icons/TypeScript.astro"
import ReactIcon from "../icons/React.astro"

const TECHNOLOGIES = [
  { name: "HTML", icon: HtmlIcon },
  { name: "CSS", icon: CssIcon },
  { name: "Tailwind CSS", icon: TailwindIcon },
  { name: "Laravel", icon: LaravelIcon },
  { name: "Angular", icon: AngularIcon },
  { name: "Node.js", icon: NodeIcon },
  { name: "Express.js", icon: ExpressIcon },
  { name: "MySQL", icon: MysqlIcon },
  { name: "PostgreSQL", icon: PostgresIcon },
  { name: "NestJS", icon: NestIcon },
  { name: ".NET", icon: DotNetIcon },
  { name: "JavaScript", icon: JavaScriptIcon },
  { name: "TypeScript", icon: TypeScriptIcon },
  { name: "PHP", icon: PhpIcon },
  {name: "React", icon: ReactIcon }
]
---
<section class="py-12">
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-10 place-items-center">
    {TECHNOLOGIES.map(({ name, icon: Icon }) => (
      <div class="flex flex-col items-center gap-2 transition-transform hover:scale-105">
        <Icon class="w-12 h-12 sm:w-14 sm:h-14" />
        <span class="text-sm font-medium text-gray-700 dark:text-gray-300 text-center">{name}</span>
      </div>
    ))}
  </div>
</section>
