<article
  class="flex mt-16 flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Jeferson Stiven Rolón Ochoa, soy <strong
        >ingeniero informático y desarrollador web full stack</strong
      >. Empecé a desarrollar aplicaciones desde mi etapa académica, impulsado
      por mi pasión por la tecnología.
    </p>
    <p>
      Cuento con <strong
        >más de 2 años de experiencia desarrollando soluciones web</strong
      >, desde mantenimiento de páginas, desarrollo de APIs y construcción de
      interfaces modernas.
    </p>
    <p>
      Soy una persona proactiva, excelente compañero de equipo, organizado y
      responsable. Disfruto mucho aprender cosas nuevas, por lo que mi objetivo
      es poder compartir mi experiencia y a su vez sumar nuevos conocimientos.
    </p>
  </div>
</article>
